/* Navbar styling */
.header {
  max-width: auto;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: #0c0c2a;
}

a {
  text-decoration: none;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
  text-decoration: none;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #1d4ed8;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons i {
  color: #fff;
  font-size: 1.5rem;
}

.login,
.signup {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1d4ed8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login:hover,
.signup:hover {
  background-color: #1e40af;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #0c0c2a;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
  }

  .link {
    margin-bottom: 1rem;
  }

  .icons {
    display: none;
  }
}
